<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>${1:Examples}</title>
<link href="" rel="stylesheet">
</head>
<body>
    $2
</body>
</html>
