<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS3动画基本</title>
    <link rel="stylesheet" href="../assets/css/basic.css">
</head>

<body>
    <h2>一个普通的动画</h2>
    <div class="block bounce"></div>
    <h2>各个动画属性</h2>
    <div class="block sub-anim-prop"></div>
    <h2>animation-direction</h2>
    <div class="block animation-direction-normal">从开始向结束状态循环</div>
    <div class="block animation-direction-alternate">从开始到结束，从结束到开始，以此循环</div>
    <div class="block animation-direction-reverse">从结束向开始循环</div>
    <div class="block animation-direction-alternate-reverse">从结束到开始，从开始到结束，以此循环。和alternate相反。</div>
    <h2>animation-fill-mode</h2>
    <div class="block animation-fill-mode-none">默认值，从开始向结束状态循环</div>
    <div class="block animation-fill-mode-forwards">表示让动画停留在结束状态</div>
    <div class="block animation-fill-mode-backwards">backwards：让动画回到第一帧的状态</div>
    <div class="block animation-fill-mode-both">根据animation-direction轮流应用forwards和backwards规则</div>
</body>

</html>
